@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.header-topics {
  margin: 0 0 50px 50px;
  background-color: rgb(48, 47, 47);
  padding: 10px 0 10px 20px;
  width: 200px;
}

.logo {
  display: flex;
  flex-direction: column;
  animation: bounce 2s infinite;
  align-items: center;
}

h1 {
  border: solid;
  width: 190px;
  border-radius: 10px 0;
  background-color: rgb(143, 190, 206);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 5px;

}

body {
  background-color: rgba(140, 168, 228, 0.342);
}

a {
  text-decoration: none;
  display: inline-block;
  border: solid 3px black;
  padding: 3px;
  background-color: rgba(252, 36, 79, 0.801);
  margin: 4px;
  border-radius: 10px;
  color: black;
}

a:hover {
color: white;
background-color: dodgerblue;
}

p {
border: solid 5px rgb(74, 61, 255);
padding: 5px;
border-radius: 5px;
color: white;
background-color: rgb(48, 47, 47);

}